body { font-family: "Lato",sans-serif; }
tr { font-size: 0.8rem; }

#navbar {padding-left: 0; padding-right: 0; color: #FFFFFF;}
#navbar #navbarSupportedContent1 { font-size: 1.5rem; }
.header-main {background-color:#004d99; border-bottom: 1px solid #036; padding: 1rem 1rem 1rem 0; }
.logo img {width: 200px;}
.infoarea {text-align: right; float:right; color: #EEEEEE; font-size: 1.8rem; text-transform: uppercase;}

.infor {text-align: center; margin-bottom: 2rem;}
.infor p { margin-bottom: 0;}

footer#page-footer { margin-top: 3rem; padding-bottom: 0!important; }
footer .foot-links ul, footer .social-media ul { list-style: none; padding: 0; margin: 0; margin-bottom: 1.5rem; }
footer .social-media { margin-top: 2rem; }
footer .social-media h4 { margin-bottom: 0rem; }
footer .social-media ul li { float: left; padding-right: 1rem; padding-bottom: 0rem; font-size: 2.5rem; }
footer .social-media ul li a { color: #FFFFFF; }
footer .social-media ul li.smedia-04 a:hover { color:#dd4b39; }
footer .social-media ul li.smedia-03 a:hover { color:#2caae1; }
footer .footer-logo { padding-bottom: 1rem; }
footer .f_infoarea { font-size: 0.8rem; padding-left: 1rem; }
footer .foot-links h2, footer .contact-info h2 { padding-bottom: 1rem; padding-top: 0.5rem; }
footer .foot-links ul a, footer .contact-info a { color: #65dde0; }
footer .footer-bootom { background: #3b4043; text-align: center; padding: 1rem; margin-top: 2rem; }
footer .footer-bootom p { margin-bottom: 0; }

div.list-group-item { border: 0; }

div.list-group-item.level-0 .card-body { background-color: rgb(1, 124, 128); color: white; }
div.list-group-item.level-1 .card-body { background-color: rgb(30, 144, 134); color: white; }
div.list-group-item.level-2 .card-body { background-color: rgb(59, 163, 141); color: white; }
div.list-group-item.level-3 .card-body { background-color: rgb(88, 183, 147); color: white; }
div.list-group-item.level-4 .card-body { background-color: rgb(117, 202, 154); color: white; }
div.list-group-item.level-5 .card-body { background-color: rgb(146, 222, 160); color: white; }

.card {background-color: transparent; }

.inform { display: none; }
